
/*Global ------------------------------------*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
  padding: 5px;
  margin: 2px;
  font-size: normal;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: white;
}
button:hover {
  padding: 3px;
  border: solid 2px black;
}
.selected {
  background-color: green;
}
label {
  background-color: white;
  padding: 5px;
  font-size: large;
}
input {
  padding: 5px;
  font-size: large;
}

/*Header ------------------------------------*/
header {
  background-color: green;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}

/*Main ------------------------------------*/
main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: solid 2px grey;
}

.section-menu button {
  width: 90%;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.section-menu {
  background-color: grey;
  padding: 10px;
  width: 20%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 80%;
  max-height: 82.5vh;
  overflow-x: scroll;
  overflow-y: scroll;
}
#table-viz-container {
  background-color: gray;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
#table-viz-canvas {
  background-color: white;
  width: 100%;
}

/*Table ------------------------------------*/
table {
  border-spacing: 5px;
  background-color: gray;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
td, th {
  background-color: white;
  padding: 10px;
  cursor: pointer;
}


/*Dialogs ------------------------------------*/
.dialog-div {
  background-color: rgba(197, 197, 197, 0.6);
  
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog-edit-entry-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: gray;
  padding: 5px;
  min-width: 25%;
  min-height: 30%;
}
.dialog-edit-entry-content div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2.5px;
}
.dialog-edit-entry-content label {
  padding-right: auto;
  width: 20%;
  margin-right: 5px;
  background-color: gray;
  color: white;
}

.choose-column-view-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: gray;
}

.dialog-choose-column-content {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.dialog-edit-pack-content {
  background-color: gray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.dialog-edit-pack-content .edit-div {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Viz ------------------------------------*/
#vis-container {
  border: solid 2px gray;
  margin: 10px;
}
